<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nigelleong.quantum">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".BluetoothSocketHelper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".deviceListController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".afterPairing"
            android:label="afterPairing">

            <!-- android:parentActivityName ="boundary.MainInterface"> -->
        </activity>
        <activity
            android:name=".standbyController"
            android:label="standbyController">
        </activity>

        <activity
            android:name=".drivingController"
            android:label="drivingController">
        </activity>

        <activity
            android:name=".foldingController"
            android:label="foldingController">
        </activity>

        <activity
            android:name=".analogController"
            android:label="analogController">
        </activity>

        <activity
            android:name=".layoutController"
            android:label="layoutController">
        </activity>

        <activity
            android:name=".PIDController"
            android:label="PIDController">
        </activity>
    </application>

</manifest>